*{
	box-sizing: border-box;
	margin: 0;
	font-family: "Avenir", "Montserrat";
	text-transform: uppercase;
	text-align: center;
	color: white;
}
body{background: #232323;}

h1{
	background: #164ba0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.314;
	padding: 20px 0;
	transition: background 0.75s;
}
button{
	border: none;
	background: none;
	min-height: 100%;
	color: #164ba0;
	letter-spacing: 1px;
	font-size: inherit;
	outline: none;
	transition: all 0.75s;
		-webkit-transition: all 0.75s;
		-moz-transition: all 0.75s;
}
button:hover{
	color: white;
	background: #164ba0;
}

.message{
	display: inline-block;
	width: 20%;
	color: black;
}

.color-display{
	font-size: 2em;
}
.bar{
	background: white;
	height: 30px;
	text-align: center;
	color: black;
}
.container{
	max-width: 600px;
	margin: 0 auto;
	padding-top: 10%;
}
.square{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 10%;
	transition: background-color 0.75s;
		-webkit-transition: background 0.75s;
		-moz-transition: background 0.75s;
}
.selected{
	color: white;
	background: #164ba0;
}

@media only screen and (max-width: 600px){
	h1 {
		padding: 10px 0;
		font-size: 1em;
	}

	h1 > span.color-display {
		font-size: 2em;
	}

	.bar {
		height: 20px;
		font-size: 0.55em;
	}
	.container {
		width: 80%;
	}
	.square {
	}

}